* {
    box-sizing: border-box;
}

.main-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}


.card {
    padding: 10px;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}

.news-container {
    margin-top: 20px;
    width: 100%;
}

.news-grid {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    gap: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.news-card {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 15px;
    width: 30%;
}
